<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultivo Shop</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <img src="https://via.placeholder.com/50" alt="Logo" class="logo">
        <h1>Cultivo Shop</h1>
    </header>
    <main>
        <div class="shop-item">
            <div class="image-gallery">
                <img src="C:\Users\Amine\Desktop\projet\view\montre1.png" alt="Article 1 Image 1">
                <img src="C:\Users\Amine\Desktop\projet\view\montre1.png" alt="Article 1 Image 2">
                <img src="C:\Users\Amine\Desktop\projet\view\montre1.png" alt="Article 1 Image 3">
            </div>
            <h2>Article 1</h2>
            <p class="description">Voici une montre acquise il y a peu, en échange d'une autre. originale et intéressante à mon avis dans une collection.
                Les montres de poches ne m'intéressent que lorsqu'il y a une complication ou si la marque est très connue, ou tout autre caractéristique originale.
                Celle ci fait 57 mm  de diamètre, le boitier est en métal bruni, elle fonctionne hormis que les aiguilles ne sont pas bien entrainées. Une grosse révision s'impose de toute façon. Elle a un spiral Breguet et une ancre compensée.
                La marque est HIPP, Parrenin est dans le coup en fait.
                près de la couronne, un petit levier: dans une position l'action de la couronne remonte le ressort principal de la montre, dans l'autre position la même action remonte le ressort du système de sonnerie.Et quand ça sonne, ça s'entend !!
                L'heure désirée de sonnerie se règle sur le petit cadran côté mouvement, au dessus duquel il manque le verre sur ma montre. En effet elle est conçue pour se poser ouverte sur une table de nuit, faisant ainsi office de réveil.
                Elle a un peu plus d'un siècle.</p>
            <button class="show-more" onclick="toggleDescription(this)">Afficher plus</button>
            <p class="price">Prix: 100,00 €</p>
            <button class="buy-button">Acheter</button>
        </div>
        <!-- Répétez pour les autres articles avec les mêmes structures -->
    </main>
    <script src="scripts.js"></script>
</body>
</html>
