body {
    background-color: #FFE1CC;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    padding: 50px;
}
header h1.title {
    margin: 0;
    color: #5D3A00;
    text-align: match-parent;
    flex: 1;
}
header h1 {
    margin: 0 auto; 
    color: #5D3A00; 
}

.logo {
    height: 80px;
    margin-right: 5px; 
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.shop-item {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 200px;
}

.image-gallery {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.image-gallery img {
    max-width: 100%;
    border-radius: 5px;
}

.shop-item h2 {
    font-size: 1.2em;
    color: #5D3A00; 
}

.description {
    font-size: 1em;
    color: #333; 
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.show-more {
    background-color: transparent;
    color: #5D3A00;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 0.9em;
    margin-top: 5px;
}

.price {
    font-size: 1.1em;
    color: #000; 
    font-weight: bold;
}

.buy-button {
    background-color: #5D3A00; 
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #4A2D00; 
}
#search-bar {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin-left: 20px;
}
.sell-button {
    background-color: #5D3A00; 
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.sell-button:hover {
    background-color: #4A2D00; 
}