<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultivo boutique</title>
    <link rel="stylesheet" href="view.css">
    <link rel="icon" href="C:\Users\Amine\Desktop\projet\view\logo.png" type="image/x-icon">
</head>
<body>
    
    <header>
       
        <img src="C:\Users\Amine\Desktop\projet\view\logo.png" alt="Logo" class="logo">
        <h1 class="title">Cultivo boutique</h1>
        
        <div class="search-sell-container">
            <input type="text" id="search-bar" placeholder="Rechercher un produit..." onkeyup="searchProduct()">
            <a href="vente.html" target="_blank"><button class="buy-button">vendre</button></a>
    </header>
    <main>
        <div class="shop-item" data-name="Article 1">
            <div class="image-gallery">
                <img src="C:\Users\Amine\Desktop\projet\view\montre1.png" alt="Article 1 Image 2">
            </div>
            <h2>
                Montre réveil avertisseur SGDG </h2>
            <p class="description">Voici une montre acquise il y a peu, en échange d'une autre. originale et intéressante à mon avis dans une collection.
                Les montres de poches ne m'intéressent que lorsqu'il y a une complication ou si la marque est très connue, ou tout autre caractéristique originale.
                Celle ci fait 57 mm  de diamètre, le boitier est en métal bruni, elle fonctionne hormis que les aiguilles ne sont pas bien entrainées. Une grosse révision s'impose de toute façon. Elle a un spiral Breguet et une ancre compensée.
                La marque est HIPP, Parrenin est dans le coup en fait.
                près de la couronne, un petit levier: dans une position l'action de la couronne remonte le ressort principal de la montre, dans l'autre position la même action remonte le ressort du système de sonnerie.Et quand ça sonne, ça s'entend !!
                L'heure désirée de sonnerie se règle sur le petit cadran côté mouvement, au dessus duquel il manque le verre sur ma montre. En effet elle est conçue pour se poser ouverte sur une table de nuit, faisant ainsi office de réveil.
                Elle a un peu plus d'un siècle.
                </p>
            <p class="price">Prix: 350,00 TND</p>
            <a href="test.html" target="_blank"><button class="buy-button">Acheter</button></a>
        </div>
        <div class="shop-item">
            <img src="C:\Users\Amine\Desktop\projet\view\scul.png" alt="Article 2">
            <h2>Sculpture artisanale ancienne</h2>
            <p class="description">Sculpture artisanale ancienne en bois sculpté du logo du « vieux grand-père » whisky </p>
            <p class="price">Prix: 200,00 TND</p>
            <a href="test2.html" target="_blank"><button class="buy-button">Acheter</button></a>
        </div>
        <div class="shop-item">
            <img src="C:\Users\Amine\Desktop\projet\view\gul.png" alt="Article 3">
            <h2>Guillaume Corneille</h2>
            <p class="description">Something Great Lande
                1995</p>
            <p class="price">Prix: 150,00 TND</p>
            <a href="test3.html" target="_blank"><button class="buy-button">Acheter</button></a>
        </div>
        <div class="shop-item">
            <img src="C:\Users\Amine\Desktop\projet\view\plum.png" alt="Article 4">
            <h2>plume sculptural</h2>
            <p class="description">plume sculptural, France, 2017.</p>
            <p class="price">Prix: 120,00 TND</p>
            <a href="test4.html" target="_blank"><button class="buy-button">Acheter</button></a>
        </div>
    
    <script>
        function toggleDescription(element) {
            const description = element.previousElementSibling;
            description.classList.toggle('expanded');
            if (description.classList.contains('expanded')) {
                element.textContent = 'Afficher moins';
            } else {
                element.textContent = 'Afficher plus';
            }
        }

        function openOrderForm(articleName, articlePrice, articlePhoto) {
            const orderForm = document.getElementById('order-form');
            orderForm.style.display = 'block';
            document.getElementById('price').value = articlePrice;
            document.getElementById('article-photo').src = articlePhoto;
        }
    </script>
    </main>
    <script src="js.js"></script>
</body>
</html>
