/* Mise en page générale */
body {
    font-family: Arial, sans-serif;
    background-image: url('http://localhost/projet_directory/images/background.jpeg');
    background-size: cover; /* L'image occupe tout l'écran */
    background-repeat: no-repeat; /* Pas de répétition */
    background-attachment: fixed; /* Fond fixe */
    background-position: center; /* Centrage de l'image */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Conteneur principal */
.container {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

/* Titres */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style des formulaires */
form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd; /* Bordure grise par défaut */
    border-radius: 5px;
    background-color: #f9f9f9; /* Fond gris clair par défaut */
    transition: all 0.3s ease-in-out;
}

/* Focus sur les champs de texte */
form input:focus {
    border-color: #e63946; /* Bordure rouge lorsque le champ est en focus */
    background-color: #fff; /* Fond blanc lors du focus */
    outline: none;
    box-shadow: 0 0 5px rgba(230, 57, 70, 0.5); /* Ombre rouge autour du champ */
}

/* Style des boutons */
form button {
    width: 100%;
    padding: 10px;
    background-color: #e63946; /* Rouge personnalisé */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #d62839; /* Rouge plus foncé au survol */
}

/* Lien vers d'autres pages */
p {
    margin: 15px 0 0;
}

a {
    color: #e63946;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Styles des icônes des réseaux sociaux */
.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}

/* Spécifique pour Facebook */
.social-icons a.facebook {
    background-color: #3b5998;
}

.social-icons a.facebook:hover {
    background-color: #2d4373; /* Couleur Facebook au survol */
}

/* Spécifique pour Google+ */
.social-icons a.google {
    background-color: #db4437;
}

.social-icons a.google:hover {
    background-color: #c1351d;
}

/* Spécifique pour LinkedIn */
.social-icons a.linkedin {
    background-color: #0077b5;
}

.social-icons a.linkedin:hover {
    background-color: #005582;
}

